body{margin:0;font-family:Arial;background:#f4f8ff;color:#003366}
header{background:#0055cc;padding:20px;color:white;text-align:center}
.container{max-width:900px;margin:40px auto;background:white;padding:25px;border-radius:12px}
button{background:#0055cc;color:white;padding:10px;border:none;border-radius:6px}